:root {
  --primary-color: #3498db;
  --primary-color-dark: #2980b9;
  --secondary-color: #2ecc71;
  --secondary-color-dark: #27ae60;
  --background-color: #ecf0f1;
  --text-color: #34495e;
  --card-background-color: #ffffff;
  --border-color: #ddd;
}

/* Admin Panel Styles */
.admin-panel-container {
  width: 95%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--background-color);
  font-family: "Arial", sans-serif;
  color: var(--text-color);
}

.admin-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white; /* Set text color to white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-panel-header h1 {
  text-align: left; /* Align title to left on larger screens */
  margin-bottom: 0;
}

.filter-toggle-button {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.filter-toggle-button:hover {
  background-color: var(--secondary-color-dark);
}

.admin-panel-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-chart {
  flex: 1; /* Allow chart to grow and take more space */
  min-width: 400px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: var(--card-background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.feedback-table-container {
  flex: 1;
  overflow-x: auto;
  margin: 10px;
  background-color: var(--card-background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.filter-section {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
.filter-section.filter-section-open {
  max-height: 1000px;
  padding: 10px;
}

.filter-section h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
.filter-section label {
  display: inline-block;
  margin-right: 10px;
}

.filter-section input,
.filter-section select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.filter-section button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}
.filter-section button:hover {
  background-color: var(--primary-color-dark);
}
.feedback-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  min-width: 700px;
}

.feedback-table,
.feedback-table th,
.feedback-table td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
}
.feedback-table th {
  background-color: #f2f2f2;
}

/* Media Query for Tablets and larger screens */
@media (min-width: 768px) {
  .admin-panel-header h1 {
    text-align: left;
    flex: 1;
  }

  .filter-section {
    margin-bottom: 0;
  }
  .admin-panel-body {
    flex-direction: row;
    align-items: flex-start;
  }
  .feedback-chart {
    min-width: 50%;
  }
  .feedback-table-container {
    min-width: 50%;
  }
}
